.icon {
    width: 24px;
    height: 24px;
    opacity: 0.5;

    background-repeat: no-repeat;
    background-origin: content-box;
}

.icon-button {
    cursor: pointer;

    &:hover {
        opacity: 0.75;
        cursor: pointer;
    }

    &.active {
        opacity: 1;
    }

    &.disabled {
        opacity: 0.175;
        cursor: not-allowed;
    }

    transition: opacity 0.125s ease;
}

.delete {
    background-image: url('delete.svg');
}

.edit {
    background-image: url('edit.svg');
}

.insert-above {
    background-image: url('insert-above.svg');
}

.load {
    background-image: url('load.svg');
}

.save {
    background-image: url('save.svg');
}